html {
  scroll-behavior:smooth;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  background-color: rgb(30, 35, 61);
  font-size: larger;
}

hr {
  color: white;
  width: 80%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(45,255,45);
  background: linear-gradient(90deg, rgba(45,255,45,1) 0%, rgba(159,246,149,1) 50%, rgba(216,255,217,1) 100%); 
  width: 120px;
  height: 40px;
  border-radius: 5px;
}

.links {
  text-decoration: none;
  transition: 1s;
  font-size: 18px;
  color: rgb(195, 195, 216);
}

.links:hover {
  text-decoration: underline;
}

.navbar {
  border-bottom: 1px solid white;
  /* background-color: white; */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.navItems {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.navHome {
  font-size: 20px;
  list-style: none;
  color: white;
  text-decoration: none;
  transition: .2s;
}

.navHome:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

.aboutMeImg {
  width: 20px;
  transition: .10s;
}

.navAboutMe {
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  color: white;
  transition: .2s;
}

.navAboutMe:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

.navBlog {
  font-size: 20px;
  list-style: none;
  color: white;
  text-decoration: none;
  transition: .2s;
}

.navBlog:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

.homePageHero {
  /* background-color: aqua;  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("https://i.imgur.com/1SkHMUk.png"); */
  /* background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
  background-size: cover; */
  color: white;
  width: 100%;
  margin-bottom: -40px;
}

.ollyHeroPfp {
  width: 250px;
  /* border: 10px solid white; */
  border-radius: 5px;
}

.homePageHeroNameAndQuote {
  margin-left: 20px;
  width: 500px;
  text-align: left;
  margin-right: -200px;
}



.ollyQuote {
  font-style: italic;
}

.infoPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#whereYouCanReachMeTitle {
  text-align: center;
}

.linksSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
}

@media screen and (max-width: 620px) {
  .linksSection {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.aboutMe {
  display: flex;
  flex-direction: column;
  /* gap: 10rem; */
  justify-content: center;
  align-items: center;
  /* background-color: blanchedalmond; */
  /* background: rgb(64,64,64);
  background: linear-gradient(90deg, rgba(64,64,64,1) 0%, rgba(255,236,204,1) 50%, rgba(64,64,64,1) 100%);   */
  width: 80%;
}

.aboutmeHereLink {
  font-size: 20px;
  color: rgb(195, 195, 216);;
}

@media screen and (max-width: 900px) {
  .aboutMe {
    flex-direction: column;
    gap: 0rem;
  }
}

.aboutMeDescription {
  width: 500px;
}

.moreAboutMeLi {
  font-size: 18px;
}

.whatIDo {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: cadetblue; */
  background: rgb(64,64,64);
  background: linear-gradient(90deg, rgba(64,64,64,1) 0%, rgba(149,240,246,1) 50%, rgba(64,64,64,1) 100%); 
}

.myProjects {
  text-align: center;
}

.projects {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  margin-left: -40px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 700px;
  margin-top: -80px;
}



.projectTitle {

}

.projectShow {
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  /* background-color: gray; */
  border: 5px solid black;
  /* background-image: url("https://i.imgur.com/fcdHpXR.gif"); */
  background-size: cover;
  background-position: center;
  text-decoration: none;
  transition: .2s;
}

.projectShow:hover {
  transform: scale(1.14);
  z-index: 1;
}

.project1Show {
  width: 250px;
  background-image: url("assets/BerserkersTrial/BerserkersTrialThumbnail.png");
}

.project1Show:hover {
  background-image: url("assets/BerserkersTrial/Filmage-2021-12-16_130308.gif");
}

.project2Show {
  background-image: url("assets/RapidGames/RapidGamesThumbnail.png");
  width: 280px;
}

.project2Show:hover {
  background-image: url("assets/RapidGames/RapidGamesShowcase.gif");
}

.project3 {
  margin-top: -22px;
}

.project3Show {
  width:330px;
  background-image: url("assets/MuseumMapper/MuseumMapperThumbnail.gif");
}

.project3Show:hover {
  background-image: url("assets/MuseumMapper/MuseumMapperShowcase.gif"); 
}

.project4Show {
  width: 300px;
  background-image: url("assets/PCEnthusiasts/Thumbnail.gif");
}

.project4Show:hover {
  background-image: url("assets/PCEnthusiasts/Presentation.gif");
}

.checkoutBtns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.checkoutBtn {
  margin-top: 1vh;
  text-decoration: none;
  transition: .2s;
}

.checkoutBtn:hover {
  transform: scale(1.2);
}

.checkoutBtnText {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.projectDescription {
  width: 100%;
}

.myBlogs {
  text-align: center;
}

.blogPosts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -15vw;
}

.blogPost {
  text-align: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 800px;
} 

.blogPostLink {
  text-decoration: none;
  color: white;
  transition: .2s;
}

.blogPostLink:hover {
  /* transform: scale(1.03) */
  text-decoration: underline;
}

.blogPostText {
}

.blogPostDate {
  opacity: 0.7;
}

.blogPostTitle {
  font-size: 25px;
}

.blogPostSubject {
  font-size: 13px;
}

@media screen and (max-width: 1000px) {
  .navbar {
    margin-bottom: 40px;
  }
  .homePageHero {
    flex-direction: column;

  }
  .ollyHeroPfp {
    margin-top: 10px;
  }
  .homePageHeroNameAndQuote {
    margin-left: 0;
    text-align: center;
    margin-right: 0;
    width: 400px;
    /* margin-bottom: 160px; */
  }
  #whereYouCanReachMeTitle {
    margin-top: 80px;
  }

}

/* --------------------------- About me page ------------------------------ */

.AboutMePageTitle {
  text-align: center;
  font-size: 30px;
}

.aboutMeDescriptionSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMeDescription {

  width: 80%;
  text-align: left;
}

.codeLanguageImagesSection {
  text-align: center;
}

.directionRow {
  display: flex;
  flex-direction: row;
}

.directionColumn {
  display: flex;
  flex-direction: column;
}

.centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.codeLanguageImages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: white; */
  min-width: 60%;
  border-radius: 5px;
  /* color: black */
}

.logoAndName {
  display: flex;
  flex-direction: column;
}

.codeLanguageImage {
  padding: 10px;
}

.logoName {
  text-align: center;
  color: black;
  margin-top: -10px;
  /* margin-bottom: -2px; */
}

.frontEndLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  background-color: white;
}

.BackendLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  background-color: white;
}

.first3backendLanguages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.codeLanguageImage {
  width: 100px;
}

.interests {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 90%;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 140%;
  }
  .ollyQuote {
    margin-top: -40px;
  }
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
    gap: 0.2rem;
  }
  .project {
    width: 80%;
    margin-top: 0;
    height: max-content;
  }
  .project3 {
    margin-top: 0;
  }
  .projectShow {
    width: 350px;
  }
  .blogPosts {
    margin-left: 0vw;
  }
  .aboutMeDescription {
    width: 80%;
  }
  .aboutMe {
    /* max-width: 600px; */
    gap: 1rem;
  }
  .interests {
    flex-direction: column;
    width: 70%;
  }
}