body {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  background-color: rgb(30, 35, 61);
}

hr {
  width: 90%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(45,255,45);
  background: linear-gradient(90deg, rgba(45,255,45,1) 0%, rgba(159,246,149,1) 50%, rgba(216,255,217,1) 100%); 
  width: 120px;
  height: 40px;
  border-radius: 5px;
}

.links {
  text-decoration: none;
  transition: 1s;
  font-size: 18px;
  color: rgb(195, 195, 216);
}

.links:hover {
  text-decoration: underline;
}

.navbar {
  border-bottom: 1px solid white;
  /* background-color: white; */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.navItems {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.navHome {
  font-size: 20px;
  list-style: none;
  color: white;
  text-decoration: none;
}

.navHome:hover {
  text-decoration: underline;
}

.navAboutMe {
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.navAboutMe:hover {
  text-decoration: underline;
}

.homePageHero {
  /* background-color: aqua;  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("https://i.imgur.com/1SkHMUk.png"); */
  /* background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
  background-size: cover; */
  color: white;
  width: 100%;
  margin-bottom: -40px;
}

.ollyHeroPfp {
  width: 250px;
  /* border: 10px solid white; */
  border-radius: 5px;
}

.homePageHeroNameAndQuote {
  margin-left: 20px;
  width: 500px;
  text-align: left;
  margin-right: -200px;
}



.ollyQuote {
  font-style: italic;
}

.infoPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#whereYouCanReachMeTitle {
  text-align: center;
}

.linksSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
}

@media screen and (max-width: 620px) {
  .linksSection {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.aboutMe {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  /* background-color: blanchedalmond; */
  /* background: rgb(64,64,64);
  background: linear-gradient(90deg, rgba(64,64,64,1) 0%, rgba(255,236,204,1) 50%, rgba(64,64,64,1) 100%);   */
  width: 100%;
}

.aboutmeHereLink {
  font-size: 20px;
  color: rgb(195, 195, 216);;
}

@media screen and (max-width: 900px) {
  .aboutMe {
    flex-direction: column;
    gap: 0rem;
  }
}

.aboutMeDescription {
  width: 500px;
}

.moreAboutMeLi {
  font-size: 18px;
}

.whatIDo {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: cadetblue; */
  background: rgb(64,64,64);
  background: linear-gradient(90deg, rgba(64,64,64,1) 0%, rgba(149,240,246,1) 50%, rgba(64,64,64,1) 100%); 
}

.myProjects {
  text-align: center;
}

.projects {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.projectTitle {
  margin-bottom: 1vh;
}

.projectShow {
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  /* background-color: gray; */
  border: 5px solid black;
  /* background-image: url("https://i.imgur.com/fcdHpXR.gif"); */
  background-size: cover;
  background-position: center;
  text-decoration: none;
  transition: .2s;
}

.projectShow:hover {
  transform: scale(1.14);
  z-index: 1;
}

.project1Show {
  background-image: url("https://i.imgur.com/lXzQdGs.png");
}

.project1Show:hover {
  background-image: url("https://i.imgur.com/fcdHpXR.gif");
}

.project2Show {
  background-image: url("https://i.imgur.com/jRqcYSR.png");
  width: 280px;
}

.project2Show:hover {
  background-image: url("https://i.imgur.com/LCEWD89.gif");
}

.project3Show {
  width:330px;
  background-image: url("https://i.imgur.com/scrGUnJ.gif");
}

.project3Show:hover {
  background-image: url("https://i.imgur.com/XL1Wwwq.gif");
  
}

.checkoutBtn {
  margin-top: 1vh;
  text-decoration: none;
  transition: .2s;
}

.checkoutBtn:hover {
  transform: scale(1.2);
}

.checkoutBtnText {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.myBlogs {
  text-align: center;
}

.blogPosts {
  display: flex;
  flex-direction: column;
}

.blogPost {
  text-align: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
} 

@media screen and (max-width: 1200px) {
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
  }
  .projectShow {
    width: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    margin-bottom: 40px;
  }
  .homePageHero {
    flex-direction: column;

  }
  .ollyHeroPfp {
    margin-top: 10px;
  }
  .homePageHeroNameAndQuote {
    margin-left: 0;
    text-align: center;
    margin-right: 0;
    width: 400px;
    /* margin-bottom: 160px; */
  }
  #whereYouCanReachMeTitle {
    margin-top: 80px;
  }
  .aboutMeDescription {
    width: 400px;
  }
}

/* --------------------------- About me page ------------------------------ */

.AboutMePageTitle {
  text-align: center;
  font-size: 30px;
}